*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.floatL{
    float: left;
}
.floatR{
    float: right;
    
}
header{
    height: 80px;
}
nav{
    width: 35%;
    height: 80px;
    padding-top: 40px;
}
ul{
    list-style: none;
    display: inline;
}
li{
    display: inline;
    font-size: 15px;
    margin-left: 20px;
}
.logo{
    padding-top: 35px;
}
.buttonblu{
    display: inline;
    border: 1px solid blue;
    background-color: blue;
    color: white;
    width: 100px;
    height: 50px;
    margin-left: 30px;
}
.margin{
    margin-left: 110px;
}
.vh{
    height: 100%;
    background-color: cadetblue;
}
.vh1{
    height: 100vh;
}
h1{
    font-size: 60px;
    margin-top: 20px;
}
.dimensione{
    width: 35%;
    height: 40%;
    margin-top: 30px;
    
}
.text{
    font-size: 25px;
}
.button{
    border: 1px solid blue;
    background-color: blue;
    color: white;
    text-align: center;
    width: 40%;
    height: 40px;
    line-height: 35px;
    margin-top: 20px;
}
.jumbo{
    float: left;
    width: 65%;
    height: 600px;
    background-size: cover;
    background-position: center;
    margin-top: 30px;
    
}
.margine{
    margin-top: 20px;
}
.freccia{
    margin-top: 20px;
    font-size: 25px;
}
.texth2{
    font-size: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.pulsanti{
    margin-bottom: 20px;
}
.inline{
    display: inline-block;
}

    
.box{
    width: 32%;
    height: 700px;
    border: 1px solid black;
}
hr{
    width: 70px;
    margin-top: 25px;
    margin-left: 50px;
}
.boxcentrale{
    width: 32%;
    height: 700px;
    border: 1px solid black;
    margin-left: 20px;
    margin-right: 20px;
}
.titolo{
    line-height: 35px;
    text-align: center;
    border-bottom: 1px solid black;
}
.marginiBox{
    margin-left: 50px;
    margin-top: 20px;
}
.marginititolo{
    margin-left: 50px;
    margin-top: 5px;
}
.gray{
    color: gray;
}
span{
    color: blue;
}

.button1{
    width: 200px;
    height: 30px;
    border: 1px solid blue;
    background-color: blue;
    color: white;
    text-align: center;
    line-height: 25px;
}
.rettangolo{
    width: 1200px;
    height: 200px;
    border: 1px solid black;
    margin-top: 40px;
}
.team{
    line-height: 35px;
    text-align: center;
    border-bottom: 1px solid black;
}
h3{
    margin-top: 25px;
    font-size: 40px;
}
.margini1{
    margin-top: 15px;
}
.margini2{
    margin-right: 30px;
    margin-top: 40px;
}
.top{
    margin-top: 45px;
}
.grandezza{
    width: 45%;
    height: 75%;
}
.grandezzaT{
    width: 45%;
    height: 400px;
    margin-left: 100px;
    margin-top:100px
}
h4{
    font-size: 35px;
}
.prova2{
    margin-top: 20px;
    font-size: 20px;
}
.button2{
    border: 1px solid black;
    width: 200px;
    height: 30px;
    text-align: center;
    line-height: 25px;
    margin-top: 30px;
}
.partner{
    background-size: cover;
    background-position: center;
    
}
.top1{
    margin-top: 5px;
}
.dimensione{
    width: 32%;
    height: 600px;
}
.center{
    text-align: center;
}
    
    
.dimensioneI{
    height: 200px;
    width: 60%;
    background-size: cover;
    background-position:center;
}
    
    
.marginicentrale{
    margin-left: 20px;
    margin-right: 20px;
}
.prova{
    margin-top: 15px;
    font-size: 20px;
}
.padre{
    width: 100%;
    height: 500px;

}
.blocco{
    width: 475px;
    height: 500px;
    border: 1px solid black;
    
}
.blocchi{
    width: 50%;
    height: 50%;
    border: 1px solid black;

}
.blocco1{
    background-color: blue;
    position: relative;
}
.img1{
    width: 50%;
    height: 50%;
    background-size: cover;
    background-position:center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.img2{
    width: 40%;
    height: 40%;
    background-size: cover;
    background-position:center;

}
.blocco2{
    background-color: green;
    position: relative;
}
.blocco3{
    background-color: hotpink;
    position: relative;
}
.blocco4{
    background-color: red;
    position: relative;
}
.blocco5{
    background-color: yellow;
    position: relative;
}
.blocco6{
    background-color: turquoise;
    position: relative;
}
.blocco7{
    background-color: tomato;
    position: relative;
}
.blocco8{
    background-color: gray;
    position: relative;
}
.colorA{
    background-color: teal;
    height: 300px;
}
.colorB{
    color: brown;
    font-size: 40px;
}
.linea{
    
    border-bottom: 1px solid black;
}
.spazio{
    margin-top: 90px;
}
.nero{
    background-color: black;
    height: 800px;
}
.bianco{
    color: white;
    font-size: 15px;
    text-align: center;
    margin-right: 140px;
    line-height: 500px;
}
.centro1{
    text-align: center;
}
.bianco1{
    color: white;
    font-size: 15px;
    margin-top: 30px;
}
    
    
    
    
    

    
    


    



    
    


    

    



    







    
    

    
    
    
    
    
    
    
    




    
    

    
    


    
    

