*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.clearfix::after{
    content: "";
    display: table;
}
.floatL{
    float: left;
}
.floatR{
    float: right;
    
}
header{
    height: 80px;
}
nav{
    width: 35%;
    height: 80px;
    padding-top: 40px;
}
ul{
    list-style: none;
    display: inline;
}
li{
    display: inline;
    font-size: 15px;
    margin-left: 20px;
}
.logo{
    padding-top: 35px;
}
.buttonblu{
    display: inline;
    border: 1px solid blue;
    background-color: blue;
    color: white;
    width: 100px;
    height: 50px;
    margin-left: 30px;
}
.margin{
    margin-left: 110px;
}
.vh{
    height: 100vh;
    background-color: cadetblue;
}
.vh1{
    height: 100vh;
}
p{
    width: 35%;
    height: 40%;
}

.jumbo{
    width: 65%;
    height: 600px;
    background-size: cover;
    background-position: center;
    margin-top: 200px;
}
    
    

    
    


    
    

